.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    margin: 1%;
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    text-align: center;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.videoSobre-button {
    margin-left: 1rem;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    width: 70%;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 260px;
}

.rodapePrincipal-contatoForm {
    width: 25%;
    padding: 1rem;
    background-color: yellowgreen;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    background-color: brown;
}

@media (max-width: 768px) {
    
/* mobile */
.cabecalhoPrincipal-nav {
    flex-direction: column;
}

.cabecalhoPrincipal-nav-link-app {
    order: -1;
}

.cabecalhoPrincipal .container {
    align-items: initial;
    flex-direction: column;
    text-align: center;
}

.conteudoPrincipal-cursos {
    flex-direction: column;
}

.conteudoPrincipal-cursos-link {
    margin-bottom: 1%;
    width: 100%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 1%;
}

.rodapePrincipal-navMap-list{
    height: auto;
}

.videoSobre-button {
    margin-left: 0;
}

.rodapePrincipal-patrocinadores .container {
    align-items: center;
    flex-direction: column;
}

.rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
}

.rodapePrincipal-contatoForm {
    width: 100%;   
}

.rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
}

.videoSobre .container {
    flex-direction: column;
}

.videoSobre-video {
    margin: 0 auto;
}

}